@font-face{
    font-family: 'fuente-principal';
    src: url('../Assets/Fonts/Philosopher-Bold.ttf');
}
@font-face{
    font-family: 'fuente-secundario';
    src: url('../Assets/Fonts/Mulish-Regular.ttf')
}
*{
    margin: 0px;
    padding: 0px;
}


.imagen-fondo{
    background-image: url(../Assets/Imagenes/home.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}
.imagen-fondo2{
    background-image: url(../Assets/Imagenes/Nosotros.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imagen-fondo3{
    background-image: url(../Assets/Imagenes/Servicios.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imagen-fondo4{
    background-image: url(../Assets/Imagenes/Contacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.imagen-fondo5{
    background-image: url(../Assets/Imagenes/Publicaciones.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
a{
    text-decoration: none;
    color: inherit;
}
.font-main{
    font-family: 'fuente-principal';
    color: #FFF;
    font-size: 65px;
    font-style: normal;
    font-weight: 700;

}
.font-secund{
    font-family: 'fuente-secundario';
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.4px;
}
.estilo-lista{
    display: flex;
    flex-direction:row;
    justify-content:flex-end;
    list-style: none;
    color: #fff;
    font-size: 18px;
    font-family: 'fuente-secundario';
    padding: 29px 240px;
}
li{
    margin: 0px 20px;
    
}
.latin{
    display: inline;
    color: #87E7AD;
    font-family: 'fuente-secundario';
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.56px;
}
h4{
    display: inline;
    color: #FFF;
    font-family: 'fuente-secundario';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.48px;
}
h3{
    display: inline;

}
h1{
    display: inline;
}
button{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 12px;
    background: #87E7AD;
    color: #000;
    font-family: 'fuente-secundario';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.flex-conteiner{
    display: inline-flex;
    flex-direction: column;

    margin: 160px 996px 0px 295px;
    text-align: center;

}
.flex-conteiner section {
    display: grid;
    gap: 50px;
    justify-content: center;
    justify-items: center;
}
.flex-conteiner2{

    display: flex;
    flex-direction:column;
    align-items: flex-end;
    
    
}
footer{
    display: inline;
}

/* GRID PRACTICA */
.cabecera{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


    /*tipografia*/
    font-size: 50px;
    /*box nodeling*/
    padding: 20px;
}
.grid-conteiner{

    /*box modeling*/
    width: 90%;
    max-width: 1000px;
    border: 10px solid #000;
    margin: auto;

    /*tipografia*/
    font-size: 50px;
    text-align: center;
    /*activamos grid*/    
}
.grid-conteiner > div {
    /*box modeling*/
    display: block;
    border: 1px solid #000;
    padding: 20px;
}

